In [36]:
d = {'Key1':'valeu', 'Key2':123}

In [37]:
d['Key1']

'valeu'

In [38]:
d['Key2']

123

In [39]:
d = {'K1':[1,2,3]}

In [40]:
d['K1'][1]

2

In [41]:
d['K1'][0]

1

In [42]:
d = {'K1':{'innerkey':[1,2,3]}}

In [43]:
d['K1']['innerkey'][1]

2

In [44]:
1 < 2

True

In [45]:
1 == 1

True

In [46]:
1 == 2

False

In [47]:
1 < 2 and 2 > 3

False

In [48]:
(1 < 2) or (2 > 3) or ( 1 == 1)

True

In [49]:
if 1<2:
    print('yep!')

yep!

In [50]:
if True:
    x = 2 +2

In [51]:
x

4

In [52]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

second

In [53]:
seq =  [1,2,3,4,5]

In [54]:
for item in seq: 
    print(item)

1
2
3
4
5

In [55]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [56]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [57]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
x = [1,2,3,4]

In [59]:
out = []
for item in x:
    out.append(item**2)

In [60]:
print(out)

[1, 4, 9, 16]

In [61]:
[item**2 for item in x]

[1, 4, 9, 16]

In [62]:
out = [item**2 for item in x]

In [63]:
out

[1, 4, 9, 16]

In [4]:
def my_func(name= 'Default Name'):
    print('hello' + name)

In [5]:
my_func

In [6]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINE.
    THIS FUNCTION SQUARES A NUMBER.
    
    """
    return num**2

In [15]:
output = square(2)

In [13]:
output

4

In [1]:
s = 'hello my name is Sam1'

In [18]:
s. lower()

'hello my name is sam1'

In [19]:
s.upper()

'HELLO MY NAME IS SAM1'

In [20]:
s.split()

['hello', 'my', 'name', 'is', 'Sam1']

In [26]:
tweet = ' Go Sports! #Sports'

In [27]:
tweet.split('#')

[' Go Sports! ', 'Sports']

In [28]:
d = {'K1': 1, 'K2':2}

In [33]:
d

{'K1': 1, 'K2': 2}

In [37]:
d.items()

dict_items([('K1', 1), ('K2', 2)])

In [38]:
d.values()

dict_values([1, 2])

In [41]:
'x' in [1,2,3]

False

In [42]:
x = [(1,2),(3,4),(5,6)]

In [43]:
x[0] [0]

1

In [47]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6